.movies-card-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(310px, 1fr));
    grid-template-rows: repeat(1, 281px);
    grid-auto-rows: 281px;
    /* max-width: 1140px; */
    width: 100%;
    margin: 70px 0 60px;
    column-gap: 24px;
    row-gap: 37px;
    grid-auto-flow: row;
    box-sizing: border-box;
}

@media screen and (max-width: 1224px) {
    .movies-card-list {
        /* width: 93.44vw; */
        grid-template-columns: repeat(2, minmax(310px, 1fr));
        grid-template-rows: repeat(1, 34.75vw);
        grid-auto-rows: 34.75vw;
    }
}

@media screen and (max-width: 768px) {
    .movies-card-list {
        grid-template-rows: repeat(4, 262px);
        grid-auto-rows: 262px;
        row-gap: 30px;
        column-gap: 30px;
        width: 100%;
        margin: 70px 0 80px;
    }
}

@media screen and (max-width: 712px) {
    .movies-card-list {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        grid-template-rows: repeat(1, 74.06vw);
        grid-auto-rows: 74.06vw;
        column-gap: 30px;
        row-gap: 30px;
        margin: 70px auto 76px;
    }
}

@media screen and (max-width: 320px) {
    .movies-card-list {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
        grid-template-rows: repeat(1, 237px);
        grid-auto-rows: 237px;
        row-gap: 14px;
        margin: 40px auto 76px;
    }
}