.auth {
    display: flex;
    flex-direction: column;
    max-width: 396px;
    margin: 0 auto;
    padding: 70px 0;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    color: #fff;
}

.auth__logo {
    max-width: 38px;
    max-height: 38px;
    margin: 0 0 40px;

}

.auth__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.auth__title {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.auth__button {
    width: 100%;
    min-height: 45px;
    box-shadow: none;
    border: none;
    background-color: #4285F4;
    border-radius: 3px;
    color: #fff;
    margin: 69px 0 0;
    padding: 0;
}

.auth__route {
    margin: 16px auto 0;
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.auth__link {
    text-decoration: none;
    color: #4285F4;
}